.bar-aside {
  padding: 6px;
  background-color: white;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  .bar-aside-head {
    margin-top: 5px;
    margin-bottom: -6px;
    .window {
      width: 100%;
      height: 292px;
      box-shadow: 0px 1px 20px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-around;
      overflow: auto;
      background-color: #849ec8;
      color: white;
      border-radius: 5px;
    }
  }
  .calc-center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 60px 60px 60px;
    grid-gap: 5px;
    .calc-numb {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #99bfe1;
      color: white;
      font-size: 25px;
      font-weight: bold;
      button {
        background: none;
        border: none;
        font-size: 25px;
        color: white;
        font-weight: bold;
      }
    }
  }
  .calc-bottom {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3px;
    height: 50px;
    margin-top: 4px;
    margin-bottom: 10px;
    .calc-action {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #7e94e2;
      color: white;
      font-size: 21px;
      font-weight: bold;
    }
  }
  .bar-aside-bottom {
    background: red;
    margin-top: -6px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 310px;
    color: white;
    cursor: pointer;
  }
  .bar-aside-bottom-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3px;
    height: 50px;
    margin-top: auto;
    margin-bottom: -2px;
    .img-1 {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #61ae17;
      color: white;
      font-weight: bold;
      img {
        width: 35px;
      }
    }
    .img-2 {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ff2122;
      color: white;
      font-weight: bold;
      img {
        width: 27px;
      }
    }
  }
}
