.payment_all {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 80px);
  grid-gap: 5px;
  a {
    background-color: #9c9c9c;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: bold;
  }
  div {
    display: flex;
    background-color: #9c9c9c;

    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    img {
      width: 35px;
    }
  }
}
.AllCard {
  width: 40%;
  display: grid;
  grid-template-columns: repeat(3, 80%);
  grid-gap: 8px;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9c9c9c;
    img {
      width: 40px;
    }
  }
  .img1 {
    width: 100%;
    height: 100px;
  }
}
